src/main/mule/api.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="80eed33f-486c-4dd6-8b20-824937c1a577" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="testFlow" doc:id="16fb689f-7cfa-45ef-a85b-d9a3802809b8" >
		<http:listener doc:name="Listener" doc:id="6bd12c98-fbbd-4107-94b0-1ac4c74018f1" config-ref="HTTP_Listener_config" path="/test"/>
		<set-payload value="IT WORKED" doc:name="Set Payload" doc:id="93c344cd-9b13-4289-8b32-3f963dd48e95" />
		<logger level="INFO" doc:name="Logger" doc:id="0f8373de-bae5-48ed-af69-c5becc20e9c7" message="#[payload]"/>
	</flow>
</mule>
